@import "../Essencial/reset.css";
@import "../Essencial/style.css";

*, *:before, *:after {
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main{
    max-width: 1000px;
    margin: 50px auto;
}

table td ,table th{
    border: 1px solid black;
    text-align: center;
    padding: 10px 5px;
}

table th{
    font-weight: bold;
}

form{
    margin: 20px 0;
    text-align: center;
}

.fieldset1 div label{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    display: block;
}

.fieldset1 div{
    width: 49%;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 0.5%;
}

.fieldset1 input{
    width: 95%;
    padding: 10px 5px;
}


.fieldset2 div, .fieldset3 div{
    font-weight: bold;
    width: 33%;
    text-align: center;
    display: inline-block;
    border: 2px solid black ;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 0.1%;
}

.fieldset2 input, .fieldset3 input{
    margin-top: 10px;
    width: 95%;
    padding: 10px 5px;
}

.fieldset4{
    padding: 10px 0;
}

.fieldset4 div{
    vertical-align: top;
    width: 33%;
    height: 150px;
    text-align: center;
    display: inline-block;
    border: 2px solid black ;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 0.1%;
}

.fieldset4 div legend{
    margin: 5px 0;
    font-weight: bold;
}

.fieldset4 div label{
    width: 50%;
    text-align: justify;
    display: block;
}

.Botao{
    width: 30%;
    padding: 15px 5px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.Botao:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: red;
}
