@import "../Essencial/reset.css";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.Corpo{
    background: linear-gradient(90deg,rgb(0, 183, 255), rgb(2, 255, 2));
    width: 100%;
}

.Cabecalho{
    width: 100%;
}

.Cabecalho > ul > li{
    display: inline;
}

.Cabecalho > ul > li > a{
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.5em;
    border-left: 1px solid white;
    padding: 4px 15px;
}

.Cabecalho > ul > li>a:hover{
    color: rgb(255, 238, 0);
    text-decoration: underline;
}

.Cabecalho > ul > li:last-of-type >a{
    border-right: 1px solid white;
}

.Clear{
    clear: both;
}

.Principal{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.Área_Login{
    width: 35%;
    height: 450px;
    margin: 20px auto;
    background-color: black;
    border-radius: 7px;
    padding: 5px;
}

.Área_Login > h2{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 50px 0;
}

.Área_Login > form{

    margin: 80px 0;
}

.Área_Login > form > fieldset{
    width: 100%;
    margin: 20px 0;
}

.Área_Login > form> fieldset> input{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
    width: 90%;
    margin: 10px auto;
    color: white;
    display: block;
}


.Botao{
    border-radius: 10px;
    background-color: rgb(0, 47, 255);
    color: white;
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 70%;
    display: block;
}

.Botao:hover{
    cursor: pointer;

}

.Área_Login p{
    margin: 0 20px;
    color: white;
}

.Área_Login > p > a{
    text-decoration: none;
    color: aliceblue;
    text-decoration: underline;
}

